			
#navigation {
	width:400px; /*Le establecemos un ancho*/
	margin:0 auto; /*Centramos automaticamente*/
}
#navigation > li {
	float: left;
}
ul > li {
	float: left;
}

#navigation  li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
#navigation  li a:hover {
	background-color:#434343;
}
#navigation  li ul {
	width:180px;
	background:#F8F8F8;
	border:1px #ccc solid;
	display:none; /*importante para que los submenus no estén visibles*/
	position:absolute;
	z-index:999;
	margin-top:0px;
	padding: 0px;
	
}
#navigation  li:hover > ul {
	display:block;
}
#navigation  li ul li {
	position:relative;
	width:100%;
	list-style:none;
	display:block;
}
#navigation  li ul li ul {
	right:-140px;
	top:0px;
}
